# Ignore dataset folder
dataset/

# Ignore model folder
model/

# Ignore env
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/